@CHARSET "UTF-8";

#programGroupTree {
	font-size: 14px;
	padding: 0 0 100px;
}

h5.menu-title {
	height: 40px;
	line-height: 40px;
	margin: -1px 0px 0;
	border: 1px solid #D9D9D9;
	border-width: 1px 0 0;
	font-size: 14px;
	text-indent: 32px;
	color: #333;
	cursor: pointer;
	display: inline-block;
	width: 100%;
}

h5 {
	font-weight: bold;
}

li h5.menu-title {
	border-width: 1px 0 0;
}

.menu-body ul{
	margin: 3px 5px;
	padding: 0;
	list-style: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.pcount {
	float:right;
	margin-right: 10px;
}

.menu-body ul a {
	display : block;
}

h5.menu-title:hover, .menu-body ul a:hover {
	background-color: #efefef;
}

.menu-body a.active {
	background-color: #ddd;
}

.menu-body a:hover {
	text-decoration: none;
}

.menu-body ul a {
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	border-radius: 3px;
}

.menu-body a {
	color: #333;
	display: block;
	text-indent: 50px;
	text-decoration: none;
}

h5.active .portal_arrow {
	border-top-color: #70ABD5;
	border-left-color: transparent;
	margin: 0 6px -3px -18px;
}

h5.active {
color: #70ABD5;
}

.portal_arrow {
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #aaa;
	display: inline-block;
	margin-left: -12px;
	font-size: 1px;
	line-height: 0;
	margin-right: 5px;
}